.app {
    height: 100%;
    width: 100%;
    background-color: beige;
    display: flex;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border-right: 1px solid black;
    width: 20%;
    padding: 1rem;
}

.home,
.favorites,
.zenton {
    padding: 1rem;
    color: black;
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 80%;
}